player-connection-mode=Listen
player-connection-guid=3366160809
player-connection-debug=0
player-connection-project-name=GamesDesignPrototype
player-connection-ip=192.168.68.117
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=3c51e70791e74a919c726a6aa9ca4408
